{% extends "blog/base.html" %}
{% block content %}

        <article class="media content-section">
        <div class="media-body">
            <img src="{{ creator.photo.url }}" alt="Photo of author" width="300" height="200">
            <p class="article-content">{{ creator.name }}</p>
            {% if creator.post %}
                <ul>
                    {% for post in creator.post.all %}
                        <li>{{post.title}}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        </article>

    <h1></h1>
{% endblock content %}